[Unit]
Description=FaSTTUBe FS Quiz Tool
After=syslog.target network.target nginx.service

[Service]
User=www-data
Group=www-data
ReadWriteDirectories=/var/fs-quiz-tool-db
WorkingDirectory=/var/fs-quiz-tool-db
ExecStart=/usr/bin/python3 -m fs-quiz-tool-db
Restart=always

[Install]
WantedBy=multi-user.target
